# Local .terraform directories
.terraform/
**/.terraform/
**/.terraform/*

# .tfstate and plan files
*.tfstate
*.tfstate.*
*tfplan*

# Binaries and executable files
*.exe
*.exe.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

